<<<<<<< HEAD


<h2>Invoice discrepency(<%= link_to '#'+@invoice.invoice_no,  invoice_path(@invoice) %>)</h2>

<div class="clear"></div>
<!--Options -->
<div>
<table>
    <tr>
      <th class="span-3">Book ISBN</th>
      <th class="span-2">Book Count</th>
      <th class="span-3">Invoice ISBN</th>
      
      <th class="span-2">Invoice Qunatity</th>
      
      <th class="span-2">Difference</th>
     
    </tr>
    <% @invoice.get_bookreceipts_invoiceitems.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <% @invoice.get_extra_bookreceipts.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <% @invoice.get_extra_invoiceitems.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <tfoot" >
      <tr class="info large">
        <td class="span-3">Summary</td>
        <td class="span-2"><%= sum_attr("cnt",@invoice.get_bookreceipts_invoiceitems) + sum_attr("cnt",@invoice.get_extra_invoiceitems) %></td>
        <td class="span-2"><br/></td>
        <td class="span-2"><br/></td>
        <td class="span-2"><%= sum_attr("quantity",@invoice.get_bookreceipts_invoiceitems) + sum_attr("quantity",@invoice.get_extra_bookreceipts) %></td>
      </tr>
    </tfoot>

  </table>

<br />
</div>
=======


<h2>Invoice discrepency(<%= link_to '#'+@invoice.invoice_no,  invoice_path(@invoice) %>)</h2>

<div class="clear"></div>
<!--Options -->
<div>
<table>
    <tr>
      <th class="span-3">Book ISBN</th>
      <th class="span-2">Book Count</th>
      <th class="span-3">Invoice ISBN</th>
      
      <th class="span-2">Invoice Qunatity</th>
      
      <th class="span-2">Difference</th>
     
    </tr>
    <% @invoice.get_bookreceipts_invoiceitems.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <% @invoice.get_extra_bookreceipts.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <% @invoice.get_extra_invoiceitems.each do |row| %>
    <tr>
      <td class="span-3"> <%= row.isbn %> </td>
      <td class="span-2"> <%= row.cnt %> </td>
      <td class="span-3"> <%= row.ii_isbn %> </td>
      <td class="span-2"> <%= row.quantity %> </td>
      <td class="span-2"> <%= row.diff %> </td>
      
    </tr>
    
    <% end %>
    <tfoot" >
      <tr class="info large">
        <td class="span-3">Summary</td>
        <td class="span-2"><%= sum_attr("cnt",@invoice.get_bookreceipts_invoiceitems) + sum_attr("cnt",@invoice.get_extra_invoiceitems) %></td>
        <td class="span-2"><br/></td>
        <td class="span-2"><br/></td>
        <td class="span-2"><%= sum_attr("quantity",@invoice.get_bookreceipts_invoiceitems) + sum_attr("quantity",@invoice.get_extra_bookreceipts) %></td>
      </tr>
    </tfoot>

  </table>

<br />
</div>
>>>>>>> 295d2549dc7ad1d1583b854141a9b198dee0ec27
