<script type="text/javascript">
  function setPrinterDiv(id){
    document.getElementById(id).style.display = 'block';

    $('#barcode').printElement({
      overrideElementCSS:['print.css', { href:'print.css', media:'print'}],
      leaveOpen:true,
      printMode:'popup'
    });
}
</script>
<div>
  <h4>    
    <span><%= link_to 'Edit', edit_invoice_path(@invoice) %> |
      <%= link_to 'Back', invoices_path %> |
      <%= link_to "Regenerate Barcodes", regenerate_invoice_path %></span>
  </h4>
<div>
<div class='span-10'>
  <p>Invoice No.:<%= @invoice.invoice_no %></p>
  <p>PO No.:<%= @invoice.po.code %></p>
  <p>Invoice Date:<%= @invoice.date_of_invoice.strftime('%d-%b-%Y') %></p>
  <p>Quantity:<%= @invoice.quantity %></p>
  <p>Amount:<%= @invoice.amount %></p>  
  <p>Date of Receipt:<%= @invoice.date_of_receipt.strftime('%d-%b-%Y') %></p>
  <p>Boxes:<%= @invoice.boxes_cnt %></p>
</div>
<div class='span-10' id='barcode'>
  <span>PO: <b><%= @invoice.po.code %></b></span>
  <div>Branch: <b><%= @invoice.po.branch.name %></b></div>
  <div>Supplier: <b><%= @invoice.po.supplier.name %></b></div>
  <div><%= image_tag(@invoice.formatted_po_file_name + ".png") %> </div>
  <p></p>
  <div>Invoice: <b><%= @invoice.invoice_no %></b></div>
  <div>No. of Books: <b><%= @invoice.quantity %></b></div>
  <div>No. of Boxes: <b><%= @invoice.boxes_cnt %></b></div>
  <div><%= image_tag(@invoice.formatted_invoice_name + ".png") %> </div>
</div>
<%= button_to_function 'Print Barcodes', "setPrinterDiv('barcode')" %> 
