<%= form_for(@procurement) do |f| %>
  <% if @procurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procurement.errors.count, "error") %> prohibited this procurement from being saved:</h2>

      <ul>
      <% @procurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :requests_cnt %><br />
    <%= f.text_field :requests_cnt %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :modified_by %><br />
    <%= f.text_field :modified_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
