<h2>Procurements</h2>

<table>
  <tr>
    <th style="width: 40%;">List</th>
    <th style="width: 10%;">Type</th>
    <th style="width: 10%;">Requests count</th>
    <th style="width: 10%;">Created by</th>
    <th style="width: 10%;">Modified by</th>
  </tr>

<% @procurements.each do |procurement| %>
  <tr>
    <td><%= link_to procurement.list.name, procurement %></td>
    <td><%= procurement.description %></td>
    <td><%= procurement.requests_cnt %></td>
    <td><%= procurement.created_by_user.username unless procurement.created_by_user.nil? %></td>
    <td><%= procurement.modified_by_user.username unless procurement.modified_by_user.nil? %></td>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Procurement', new_procurement_path %> -->

<br/>
<hr>
<h2>Pull Items</h2>

<div id='left-nav' style="width:100%">
  <span><%= link_to "IBT Requests", pull_procurements_path(:pull => 'ibtr') %></span> | 
  <span><%= link_to "New Arrivals", pull_procurements_path(:pull => 'nent') %></span> |
  <span><%= link_to "Warehouse", pull_procurements_path(:pull => 'whse') %></span>
</div>
