<h1>Procurements</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Description</th>
    <th>Requests cnt</th>
    <th>Created by</th>
    <th>Modified by</th>
    <th></th>
  </tr>

<% @procurements.each do |procurement| %>
  <tr>
    <td><%= procurement.source_id %></td>
    <td><%= procurement.description %></td>
    <td><%= procurement.requests_cnt %></td>
    <td><%= procurement.created_by_user.username unless procurement.created_by_user.nil? %></td>
    <td><%= procurement.modified_by_user.username unless procurement.modified_by_user.nil? %></td>
    <td><%= link_to 'Show', procurement %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Procurement', new_procurement_path %>

<br/><br/>
<h2>Pull items</h2>

<div id='left-nav' style="width:100%">
  <span><%= link_to "IBT Requests", pull_procurements_path(:pull => 'ibtr') %></span> | 
  <span><%= link_to "New Arrivals", pull_procurements_path(:pull => 'nent') %></span>
</div>
