<h1>Listing procurements</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Description</th>
    <th>Requests cnt</th>
    <th>Created by</th>
    <th>Modified by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @procurements.each do |procurement| %>
  <tr>
    <td><%= procurement.source_id %></td>
    <td><%= procurement.description %></td>
    <td><%= procurement.requests_cnt %></td>
    <td><%= procurement.created_by %></td>
    <td><%= procurement.modified_by %></td>
    <td><%= link_to 'Show', procurement %></td>
    <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
    <td><%= link_to 'Destroy', procurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Procurement', new_procurement_path %>
