<p id="notice"><%= notice %></p>

<h1>Procurements</h1>

<div>
  <%= link_to 'Back', procurements_path %> |
  <%= link_to "Generate PO", generate_po_procurement_path %> |
  <%= link_to "Mark Close", close_procurement_path %>
</div>
<br/>

<div>
<%= @procurement.description %> of <%= @procurement.requests_cnt %> items
(Created on: <%= @procurement.created_at.strftime('%d-%b-%Y') %>)
</div>
<br/><br/>

<div>
  <div>
    <span>No. of publishers to be updated: </span>
    <span><%= link_to @procurement.pending_publisher_updates_cnt, publishers_path(:filter => 'for_procurement', :procurement_id => @procurement.id)%></span>
  </div>
  <div>
    <span>No. of suppliers to be updated: </span>
    <span><%= @procurement.pending_supplier_updates_cnt %></span>
  </div>
  <div>
    <span>No. of discounts to be updated: </span>
    <span><%= link_to @procurement.pending_discount_updates_cnt, supplierdiscounts_path(:filter => 'for_procurement', :procurement_id => @procurement.id) %></span>
  </div>
  <div>
    <span>Items ready to be ordered:</span>
    <span><%= link_to @procurement.items_ready_to_order_cnt, procurementitems_path(:filter => 'for_procurement', :procurement_id => @procurement.id) %></span>
  </div>
</div>
<br/><br/>

<div><b><h3>Worklists</h3></b>(<%= link_to "Refresh Worklists", refresh_procurement_path %>)</div>
<br/>
<div>
  <% if @procurement.worklists.open %>
    <% @procurement.worklists.open.each do |worklist| %>
      <div class="ui-widget-content ui-corner-all list-item-row">
        <table style="width: 100%;">
          <tr>
            <td style="width: 10%;"><%= link_to worklist.id, worklist_path(worklist.id) %></td>            
            <td style="width: 40%;"><%= worklist.description %></td>
            <td style="width: 30%;"><%= worklist.workitems.count %> Items</td>
            <td style="width: 10%;"><%= worklist.status %></td>
            <td style="width: 10%;"><%= worklist.created_at.strftime('%d-%b-%Y') %></td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
