<div>
  <h3><b>New Store Inventory status</b></h3>
  <div>
    <% if @new_store_inventories %>
      <%= will_paginate @new_store_inventories, :prev_label => '<< Previous', :next_label => 'Next >>', :class => 'pagination'%>
        <table style="width: 80%;">
        <div class="ui-widget-content ui-corner-all list-item-row">
        <tr>
          <th>Branch ID</th>
          <th>Name</th>
          <th>Invoice Quantity</th>
          <th>Received</th>
          <th>Cataloged</th>
        </tr>
        <% @new_store_inventories.each do |inventory| %>
          <tr>
            <td style="width: 10%;"><%= inventory.branch_id.to_i %></td>
            <td style="width: 30%;"><%= inventory.name %></td>
            <td style="width: 15%;"><%= inventory.invoice_qty.to_i %></td>
            <td style="width: 15%;"><%= inventory.received.to_i %></td>
            <td style="width: 15%;"><%= inventory.cataloged.to_i %></td>
          </tr>
        <% end %>
        </div>
        </table>
      <%= will_paginate @new_store_inventories%>
    <% end %>
  </div>
</div>
