<div>Crates</div>
<div><h4><%= link_to "New Crate", new_crate_path %></h4></div>
<br/><br/>
<div>
  <% if @crates %>
    <%= will_paginate :prev_label => '<< Previous', :next_label => 'Next >>', :class => 'pagination'%>
      <% @crates.each do |crate| %>
        <div class="ui-widget-content ui-corner-all list-item-row">
          <table style="width: 100%;">
            <tr>
              <td style="width: 15%;"><%= link_to crate.id, crate_path(crate.id) %></td>            
              <td style="width: 10%;"><%= crate.total_cnt %></td>
              <td style="width: 10%;"><%= crate.created_at.strftime('%d-%b-%Y') %></td>
            </tr>
          </table>
        </div>
      <% end %>
    <%= will_paginate %>
  <% end %>
</div>

