<%= form_for @crate do |f| %>
  <p>
    PO No: <%= f.text_field :po_no %>
  </p>
  <p>
    Invoice No: <%= f.collection_select(:invoice_no, @po.invoices, :id, :invoice_no, {:include_blank => 'Select Invoice No.'} ) %>
  </p>
  <p>
    <%= f.submit "Create" %>
    <%= f.submit "Cancel" %>
  </p>
<% end %>
