<script type="text/javascript">
  function setPrinterDiv(id){
    document.getElementById(id).style.display = 'block';

    $('#barcode').printElement({
      overrideElementCSS:['print.css', { href:'print.css', media:'print'}],
      leaveOpen:true,
      printMode:'popup'
    });
}
</script>
<div>
  <h4>
    <span><%= link_to "Back", crates_path %></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <% if @crate.boxes.count == 0 %>
      <span><%= link_to "Fill Crate", fill_crate_path %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <% end %>
    <span><%= link_to "Regenerate Barcodes", regenerate_crate_path %></span>
  </h4>
<div>
<div class='span-20' id='barcode'>
  <div>Crate: <b><%= @crate.id %></b></div>
  <div>Total Books:<b><%= @crate.total_cnt %></b></div>
  <div><%= image_tag(@crate.formatted_crate_file_name + ".png") %> </div>  
  <div>
    <h4>Boxes:</h4>
    <% if @crate.boxes %>
      <div class="ui-widget-content ui-corner-all list-item-row">
        <table style="width: 100%;">
          <tr>
            <th style="width: 7%;">Box ID</th>
            <th style="width: 20%;">Supplier</th>
            <th style="width: 15%;">PO No.</th>
            <th style="width: 15%;">Invoice No.</th>
            <th style="width: 10%;">Box No.</th>
            <th style="width: 10%;">Books in Box</th>
          </tr>
          <% @crate.boxes.each do |box| %>
            <tr>
              <td style="width: 10%;"><%= box.id %></td>
              <td style="width: 30%;"><%= box.get_supplier_name %></td>
              <td style="width: 20%;"><%= box.po_no %></td>
              <td style="width: 20%;"><%= box.invoice_no %></td>
              <td style="width: 10%;"><%= box.box_no %></td>
              <td style="width: 10%;"><%= box.total_cnt %></td>
            </tr>
          <% end %>
        </table>
      </div>    
    <% end %>
  </div>
</div>
<%= button_to_function 'Print Barcodes', "setPrinterDiv('barcode')" %> 
