<script type="text/javascript">
  function setPrinterDiv(id){
    document.getElementById(id).style.display = 'block';

    $('#barcode').printElement({
      overrideElementCSS:['print.css', { href:'print.css', media:'print'}],
      leaveOpen:true,
      printMode:'popup'
    });
}
</script>
<div><h4><div><%= link_to "Fill Crate", fill_crate_path %></div></h4><div>
<div class='span-10'>
  <p>Crate No.:<%= @crate.id %> </p>
  <p>Total Count:<%= @crate.total_cnt %></p>
  <br/><br/><br/>
  <div>
    <h3>Boxes:</h3>
    <% if @crate.boxes %>
      <div class="ui-widget-content ui-corner-all list-item-row">
        <table style="width: 25%;">
          <% @crate.boxes.each do |box| %>
            <tr>
              <td style="width: 50%;"><%= box.id %></td>
              <td style="width: 50%;"><%= box.box_no %></td>
              <td style="width: 50%;"><%= box.total_cnt %></td>
            </tr>
          <% end %>
        </table>
      </div>    
    <% end %>
  </div>
</div>
<div class='span-10' id='barcode'>
  <p><%= image_tag(@crate.formatted_crate_file_name + ".png") %> </p>
  <p>Crate: <%= @crate.id %></p>
</div>
<%= button_to_function 'Print Barcodes', "setPrinterDiv('barcode')" %> 
