<script type="text/javascript">
  function setPrinterDiv(id){
    document.getElementById(id).style.display = 'block';

    $('#barcode').printElement({
      overrideElementCSS:['print.css', { href:'print.css', media:'print'}],
      leaveOpen:true,
      printMode:'popup'
    });
}
</script>
<div>
  <h4>
    <span><%= link_to "Back", crates_path %></span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <% if @crate.boxes.count == 0 %>
      <span><%= link_to "Fill Crate", fill_crate_path %></span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <% end %>
    <span><%= link_to "Regenerate Barcodes", regenerate_crate_path %></span>
  </h4>
<div>

<div class='span-13'>
  <p>Crate No.:<%= @crate.id %> </p>
  <p>Total Count:<%= @crate.total_cnt %></p>
  <br/><br/><br/>
  <div>
    <h3>Boxes:</h3>
    <% if @crate.boxes %>
      <div class="ui-widget-content ui-corner-all list-item-row">
        <table style="width: 100%;">
          <% @crate.boxes.each do |box| %>
            <tr>
              <td style="width: 10%;"><%= box.id %></td>
              <td style="width: 20%;"><%= box.po_no %></td>
              <td style="width: 20%;"><%= box.invoice_no %></td>
              <td style="width: 10%;"><%= box.box_no %></td>
              <td style="width: 10%;"><%= box.total_cnt %></td>
            </tr>
          <% end %>
        </table>
      </div>    
    <% end %>
  </div>
</div>
<div class='span-10' id='barcode'>
  <p><%= image_tag(@crate.formatted_crate_file_name + ".png") %> </p>
  <p>Crate: <%= @crate.id %></p>
</div>
<%= button_to_function 'Print Barcodes', "setPrinterDiv('barcode')" %> 
