<titlereceipt>
  <id><%= @titlereceipt.id %></id>
  <po_no><%= @titlereceipt.po_no %></po_no>
  <invoice_no><%= @titlereceipt.invoice_no %></invoice_no>
  <isbn><%= @titlereceipt.isbn %></isbn>
  <box_no><%= @titlereceipt.box_no %></box_no>
  <title><%= title_for_isbn(@titlereceipt.isbn) %></title>
  <pending_cnt><%= @pending_cnt %></pending_cnt>
</titlereceipt>
