<div>
<div>
  <% if @publishers %>
    <%= will_paginate :prev_label => '<< Previous', :next_label => 'Next >>', :class => 'pagination'%>
      <% @publishers.each do |publisher| %>
        <div class="ui-widget-content ui-corner-all list-item-row">
          <table style="width: 100%;">
            <tr>
              <td style="width: 10%;"><%= link_to publisher.id, edit_publisher_path(publisher.id) %></td>
              <td style="width: 40%;"><%= publisher.code %></td>
              <td style="width: 40%;"><%= publisher.name %></td>
              <td style="width: 10%;"><%= publisher.created_at.strftime('%d-%b-%Y') %></td>
            </tr>
          </table>
        </div>
      <% end %>
    <%= will_paginate %>
  <% end %>
</div>
</div>
