<h2>Purchase Orders</h2>

<%= will_paginate :prev_label => '<< Previous', :next_label => 'Next >>', :class => 'pagination'%>
  <table>
    <tr>
      <th style="width: 10%;">PO No.</th>
      <th style="width: 25%;">Supplier</th>
      <th style="width: 15%;">Publisher</th>
      <th style="width: 15%;">Branch</th>
      <th style="width: 5%;">Cct</th>    
      <th style="width: 5%;">Qty</th>
      <th style="width: 5%;">Status</th>
    </tr>

    <% @pos.each do |po| %>
      <tr>
        <td><%= po.code %></td>
        <td><%= po.supplier.name %></td>
        <td><%= po.publishername %></td>
        <td><%= po.branch.name %></td>
        <td><%= po.currency %></td>
        <td><%= po.copies_cnt %></td>
        <td><%= po.status %></td>
      </tr>
    <% end %>
  </table>
<%= will_paginate %>
