<%= form_for(@imprint) do |f| %>
  <% if @imprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imprint.errors.count, "error") %> prohibited this imprint from being saved:</h2>

      <ul>
      <% @imprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br />
    <%= f.select :publisher_id,
        options_from_collection_for_select(Publisher.order("name").all, :id, :name, @imprint.publisher_id), 
        {:class => 'select_publisher_wide', :include_blank => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
