<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @imprint.code %>
</p>

<p>
  <b>Imprintname:</b>
  <%= @imprint.name %>
</p>

<p>
  <b>Publisher:</b>
  <%= @imprint.publisher.name %>
</p>

<%= link_to 'Edit', edit_imprint_path(@imprint) %> |
<%= link_to 'Back', imprints_path %>
