<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @imprint.code %>
</p>

<p>
  <b>Imprintname:</b>
  <%= @imprint.imprintname %>
</p>

<p>
  <b>Group:</b>
  <%= @imprint.group_id %>
</p>

<p>
  <b>Publishername:</b>
  <%= @imprint.publishername %>
</p>


<%= link_to 'Edit', edit_imprint_path(@imprint) %> |
<%= link_to 'Back', imprints_path %>
