<div>Worklists</div>
<div>
  <% if @worklists %>
  <%= will_paginate :prev_label => '<< Previous', :next_label => 'Next >>', :class => 'pagination'%>
    <% @worklists.each do |worklist| %>
      <div class="ui-widget-content ui-corner-all list-item-row">
        <table style="width: 100%;">
          <tr>
            <td style="width: 10%;"><%= link_to worklist.id, worklist_path(worklist.id) %></td>            
            <td style="width: 40%;"><%= worklist.description %></td>
            <td style="width: 20%;"><%= worklist.status %></td>
            <td style="width: 30%;"><%= worklist.created_at.strftime('%d-%b-%Y') %></td>
          </tr>
        </table>
      </div>
    <% end %>
  <%= will_paginate %>
  <% end %>
</div>

