<% content_for(:head) do %>
  <%= javascript_include_tag 'worklists/items_with_details_not_enriched' %>
<% end %>

<% if !@worklist.nil? %>
  <%= form_tag( { :autocomplete => :off } ) do -%>
    <span style="display: none;" id="worklist-id"><%= @worklist.id %></span>
    <%= link_to_function "Update Items","saveItems(); return false;", :id=>'saveItemsLink' %>
    <div id="grid">
      <div id="gridbox" class="ui-jqgrid ui-widget ui-widget-content ui-corner-all">
        <div id="gridview" class="ui-jqgrid-view">
          <div class="clear"></div>
          
          <!--Table Header -->
          <div id="gridheader" class="ui-state-default ui-jqgrid-hdiv" style="width: 956px;">
            <div class="ui-jqgrid-hbox" style="width: 956px;">
              <table class="ui-jqgrid-htable" cellspacing="0" cellpadding="0" border="0" role="grid">
                <thead>
                  <tr class="ui-jqgrid-labels" role="rowheader">
                    <th id="col_ISBN" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 20%;">ISBN</th>
                    <th id="col_Title" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 40%;">Title</th>
                    <th id="col_Author" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 20%;">Author</th>
                    <th id="col_Publisher" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 15%;">Publisher</th>
                    <th id="col_ListPrice" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 10%;">Price</th>
                    <th id="col_Currency" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 10%;">Currency</th>
                    <th id="col_Verified" class="ui-state-default ui-th-column ui-th-ltr" role="columnheader" style="width: 5%;">Verified</th>
                  </tr>
                </thead>
              </table>
            </div>
            
            <!--Table body -->
            <div class="ui-jqgrid-bdiv" style="height: auto; width: 956px;">
              <div style="position: relative;">
                <table id="items" class="ui-jqgrid-btable" cellspacing="0" cellpadding="0" border="0" role="grid" style="width: 956px;">
                  <tbody>
                    <% @worklist.workitems.each do |workitem| %>
                      <tr class="ui-widget-content jqgrow ui-row-ltr" role="row">
                        <td aria-describedby="col_ISBN" role="gridcell" style="width: 15%;"><%= workitem.referenceitem.isbn %></td>
                        <td aria-describedby="col_Title" role="gridcell" style="width: 50%;"><%= tag(:input, {:class => 'input_title', :dataid => workitem.referenceitem.id, :type => 'text', :size => 55, :datatitle => format_for_html(workitem.referenceitem.enrichedtitle.title), :value => format_for_html(workitem.referenceitem.enrichedtitle.title) }, false, false)  %></td>
                        <td aria-describedby="col_Author" role="gridcell" style="width: 25%;"><%= tag(:input, {:class => 'input_author', :dataid => workitem.referenceitem.id, :type => 'text', :size => 25, :dataauthor => workitem.referenceitem.enrichedtitle.author, :value => workitem.referenceitem.enrichedtitle.author }, false, false) %></td>
                        <td aria-describedby="col_Publisher" role="gridcell" style="width: 20%;">
                          <% if workitem.referenceitem.enrichedtitle.publisher.publishername.nil?%>
                            <%= tag(:input, {:class => 'input_publisher', :dataid => workitem.referenceitem.id, :type => 'text', :size => 15, :datapublisher => workitem.referenceitem.enrichedtitle.publisher.publishername, :value => workitem.referenceitem.enrichedtitle.publisher.code }, false, false) %>
                          <% else %>
                            <%= select_tag "publishers", options_from_collection_for_select(Publisher.with_names.all, 'id', 'publishername', workitem.referenceitem.enrichedtitle.publisher_id), {:class => 'select_publisher'} %>
                          <% end %>
                        </td>
                        <td aria-describedby="col_ListPrice" role="gridcell" style="width: 10%;"><%= tag(:input, {:class => 'input_price', :dataid => workitem.referenceitem.id, :type => 'text', :size => 5, :dataprice => workitem.referenceitem.enrichedtitle.listprice, :value => workitem.referenceitem.enrichedtitle.listprice }, false, false) %></td>
                        <td aria-describedby="col_Currency" role="gridcell" style="width: 15%;"><%= tag(:input, {:class => 'input_currency', :dataid => workitem.referenceitem.id, :type => 'text', :size => 5, :datacurrency => workitem.referenceitem.enrichedtitle.currency, :value => workitem.referenceitem.enrichedtitle.currency }, false, false) %></td>
                        <td aria-describedby="col_Verified" role="gridcell" style="width: 5%;">
                          <%= check_box_tag "verified", workitem.referenceitem.enrichedtitle.verified , workitem.referenceitem.enrichedtitle.verified == 'Y' ? true : false, {:class => 'input_verified', :dataid => workitem.referenceitem.id, :dataverified => workitem.referenceitem.enrichedtitle.verified.nil? ? 'N' : workitem.referenceitem.enrichedtitle.verified } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end -%>
<% end %>

