<% content_for(:head) do %>
  <%= javascript_include_tag 'worklists/items_with_no_supplier_details_publisher_wise' %>
<% end %>

<%= link_to 'Back', request.referer %><br/><br/>

<% if !@worklist.nil? %>
  <%= form_tag( { :autocomplete => :off } ) do -%>
    <span style="display: none;" id="worklist-id"><%= @worklist.id %></span>
    <%= link_to_function "Update Items","saveItems(); return false;", :id=>'saveItemsLink' %>
    <table id="items" style="width: 50%">
    <tr>
      <th style="width: 25%;">Publisher</th>
      <th style="width: 25%;">Supplier</th>
    </tr>
    <% @pubsupps.each do |entry| %>
      <tr class="ui-widget-content jqgrow ui-row-ltr" role="row">
        <td aria-describedby="col_Publisher" role="gridcell" style="width: 25%;"><%= Publisher.find(entry[:publisher_id]).name %></td>
        <td aria-describedby="col_Supplier" role="gridcell" style="width: 25%;"><%= select_tag "supplier_id", 
                            options_from_collection_for_select(Publisher.find(entry[:publisher_id]).suppliers.map, 
                            :id, :name, entry[:supplier_id]), 
                            {:class => 'select_supplier_wide', :dataid => entry[:publisher_id], :datasupp => entry[:supplier_id], 
                            :value => entry[:supplier_id], :include_blank => true, :width => 5 } %></td>
      </tr>
    <% end %>
  <% end -%>
<% end %>

