<%= form_for(@regionaltitle) do |f| %>
  <% if @regionaltitle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@regionaltitle.errors.count, "error") %> prohibited this regionaltitle from being saved:</h2>

      <ul>
      <% @regionaltitle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :title_id %><br />
    <%= f.text_field :title_id %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label 'Regional Title' %><br />
    <%= f.text_field :nls_title %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br />
    <%= f.text_field :publisher_id %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  
  
  <div class="field">
    <%= f.label :isbn10 %><br />
    <%= f.text_field :isbn10 %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label 'category' %><br />
    <%= f.text_field :subcategory %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :list_price %><br />
    <%= f.text_field :list_price %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label 'No of pages' %><br />
    <%= f.text_field :no_of_pages %>
  </div>
  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :published_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
