<%= form_for(@procurementitem) do |f| %>
  <% if @procurementitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procurementitem.errors.count, "error") %> prohibited this procurementitem from being saved:</h2>

      <ul>
      <% @procurementitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>-->
  
  <p>
    <b>Isbn:</b>
    <%= @procurementitem.isbn %>
  </p>

  <p>
    <b>Title:</b>
    <%= @procurementitem.enrichedtitle.title %>
  </p>

  <p>
    <b>Author:</b>
    <%= @procurementitem.enrichedtitle.author %>
  </p>
  
  <p>
    <b>Publisher:</b>
    <%= @procurementitem.enrichedtitle.imprint.publisher.name unless @procurementitem.enrichedtitle.imprint.nil? or @procurementitem.enrichedtitle.imprint.publisher.nil? %>
  </p>
  
  <!-- Distributions -->
  <table id='distributions_table' class='form' style="width:35%">
		<tr><th style="width:25%">Branch</th><th style="width:5%">Quantity</th><th style="width:5%">Remove</th></tr>
		<%= f.fields_for :distributions do |builder| -%>
			<%= render 'distribution_fields', :f => builder %>
		<% end -%>
	</table>
	
	<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
