<h1>Procurementitems</h1>

<%= link_to 'Back', request.referer %><br/><br/>

<table>
  <tr>
    <th style="width: 10%;">Isbn</th>
    <th style="width: 25%;">Title</th>
    <th style="width: 15%;">Author</th>
    <th style="width: 15%;">Publisher</th>
    <th style="width: 15%;">Supplier</th>
    <th style="width: 5%;">Qty</th>
    <th style="width: 10%;">Branch</th>
  </tr>

<% @procurementitems.each do |procurementitem| %>
  <tr>
    <td><%= procurementitem.isbn %></td>
    <td><%= procurementitem.enrichedtitle.title unless procurementitem.enrichedtitle.nil? %></td>
    <td><%= procurementitem.enrichedtitle.author unless procurementitem.enrichedtitle.nil? %></td>
    <td><%= procurementitem.enrichedtitle.imprint.publisher.name unless procurementitem.enrichedtitle.nil? or procurementitem.enrichedtitle.imprint.nil? %></td>
    <td><%= procurementitem.supplier.name unless procurementitem.supplier.nil? %></td>
    <td><%= procurementitem.quantity %></td>
    <td><%= procurementitem.branch.name unless procurementitem.branch.nil? %></td>
  </tr>
<% end %>
</table>

<br />
