<p id="notice"><%= notice %></p>

<p>
  <b>Isbn:</b>
  <%= @procurementitem.isbn %>
</p>

<p>
  <b>Title:</b>
  <%= @procurementitem.title %>
</p>

<p>
  <b>Publisher:</b>
  <%= @procurementitem.enrichedtitle.imprint.publisher.name %>
</p>

<p>
  <b>Supplier:</b>
  <%= @procurementitem.supplier.name %>
</p>

<p>
  <b>Qty:</b>
  <%= @procurementitem.quantity %>
</p>

<p>
  <b>Branch:</b>
  <%= @procurementitem.branch.name %>
</p>


<%= link_to 'Edit', edit_procurementitem_path(@procurementitem) %> |
<%= link_to 'Back', procurementitems_path %>
