<div class="span-24 last">

  <div class="span-10">
    ISBN: <%= @enrichedtitle.isbn %><br/>
    Title: <%= @enrichedtitle.title %><br/>
    Language: <%= @enrichedtitle.language %><br/>
    Author: <%= @enrichedtitle.author %><br/>
    
    <% unless @enrichedtitle.jbcategory.nil? -%>
      Section: <%= @enrichedtitle.jbcategory.division %><br/>
      Category: <%= @enrichedtitle.jbcategory.name %><br/>
    <% end -%>
  </div>
  <div class="span-12 last">
    <%= image_tag "http://img.justbooksclc.com.s3.amazonaws.com/#{@enrichedtitle.isbn}.jpg", :size => "100X150" %>
  </div>
  
  <div class="span-24 last">
    <%= form_for(@enrichedtitle) do |f| %>
      <% if @enrichedtitle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@enrichedtitle.errors.count, "error") %> prohibited this title from being saved:</h2>

          <ul>
          <% @enrichedtitle.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <br/>
      
      <%= f.label :category_id %> <%= f.select :category_id, Category.all.collect {|p| [p.division + '-' + p.name, p.id]} %><br/>
      <%= f.label :language %> <%= f.select :language, Language.all.collect {|p| [p.name,p.name] } %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>