<div class="span-24 last">
	<%= form_tag enrichedtitles_path, :id => 'searchForm', :method => 'get' do -%>
			<%= field_set_tag 'ISBN' do %>		
			<span>Enter the isbn.
			</span>
			<br/>
			<%= label_tag 'ISBN'%>
			<%= text_field_tag :queryISBN, params[:queryISBN] %>
			<%= submit_tag "Submit", :name => nil %>
			<% end -%>
	<% end -%>
</div>