<bookreceipt>
  <id><%= @bookreceipt.id %></id>
  <po_no><%= @bookreceipt.po_no %></po_no>
  <invoice_no><%= @bookreceipt.invoice_no %></invoice_no>
  <crate_id><%= @bookreceipt.crate_id %></crate_id>
  <isbn><%= @bookreceipt.isbn %></isbn>
  <book_no><%= @bookreceipt.book_no %></book_no>
  <title><%= title_for_isbn(@bookreceipt.isbn) %></title>
  <cnt><%= @daily_count %></cnt>
</bookreceipt>
