<h1>Suppliers</h1>

<table>
  <tr>
    <th style="width: 20%;">Name</th>
    <th style="width: 20%;">Contact</th>
    <th style="width: 15%;">Phone</th>
    <th style="width: 10%;">City</th>
    <th style="width: 5%;">Ship</th>
    <th style="width: 7.5%;">Discount</th>
    <th style="width: 7.5%;">Credit</th>
    <th style="width: 5%;"></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.contact %></td>
    <td><%= supplier.phone %></td>
    <td><%= supplier.city %></td>
    <td><%= supplier.typeofshipping %></td>
    <td><%= supplier.discount %></td>
    <td><%= supplier.creditperiod %></td>
    <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
  </tr>
<% end %>
</table>
