<%= form_for(@supplierdiscount) do |f| %>
  <% if @supplierdiscount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplierdiscount.errors.count, "error") %> prohibited this supplierdiscount from being saved:</h2>

      <ul>
      <% @supplierdiscount.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :publisher_id %><br />
    <%= f.select :publisher_id, options_from_collection_for_select(Publisher.order("name").all, "id", "name"), { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.select :supplier_id, options_from_collection_for_select(Supplier.order("name").all, "id", "name"), { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :bulkdiscount %><br />
    <%= f.text_field :bulkdiscount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
